<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
  </configSections>
  <appSettings>

    <add key="LocalControllerURL" value="http://localhost:59807"></add>
    
    <!--<add key="ValidateSerialURL" value="http://inv-uat.true.th/inventory/service/interface/VerifySerial.ashx"></add>
    <add key="BackEndURL" value="http://172.19.192.116:8980"></add>-->
    <!--<add key="GetProductURL" value="http://172.19.193.41/inventory/service/interface/GetProductInfo.ashx" ></add>-->

    <!--L7-->
    <add key="ValidateSerialURL" value="https://gtm.apigw-endpoint.glb.true.th:8443/v1/TSM/inventory/service/interface/VerifySerial"></add>
    <add key="BackEndURL" value="http://172.19.192.116:8980"></add>
    <add key="GetProductURL" value="https://gtm.apigw-endpoint.glb.true.th:8443/v1/TSM/inventory/service/interface/GetProductInfo/" ></add>

    <add key="TrueMoneyURL" value="https://api-b2b.tmn-dev.com/payments"></add>
    <add key="TrueMoneyXAPIKey" value="6328715a6b5d481eaf39247c0bd8eed3"></add>
    <add key="TrueMoneyMerchantID" value="010000000002243752077"></add>
    <add key="ServerMapPath" value="C:\Users\Dell\OneDrive\Project_TIT\ATB-TRUE\SourceCode\TRUE-VDM\VDM\VDM"></add>
    <add key="PicturePath"  value="C:\Users\Dell\OneDrive\Project_TIT\ATB-TRUE\SourceCode\TRUE-VDM\Picture"></add>
    <add key="ServerRoot" value="http://localhost:62820/Front_UI"/>
    
    <add key="BBL_CurrentCode" value="764"></add>
    <!-- Test -->
    <add key="BBL_MerchantID" value="3971"></add>
    <add key="BBL_PostPaymentURL" value="https://psipay.bangkokbank.com/b2c/eng/payment/payForm.jsp"></add>
    <add key="BBL_APIURL" value="https://psipay.bangkokbank.com/b2c/eng/merchant/api/orderApi.jsp"></add>
    

    <!-- Production 
    <add key="BBL_MerchantID" value="5979"></add>
    <add key="BBL_PostPaymentURL" value="https://ipay.bangkokbank.com/b2c/eng/payment/payForm.jsp"></add>
    <add key="BBL_APIURL" value="https://ipay.bangkokbank.com/b2c2/eng/merchant/api/orderApi.jsp"></add>
    -->
    <add key="ValidateSerialUser" value="BSD_ICONS"></add>
    <add key="ValidateSerialPassword" value="ICONSOPER1"></add>
    <add key="GetProductUser" value="BSD_ICONS"></add>
    <add key="GetProductPassword" value="ICONSOPER1"></add>
    <add key="BackEndUser" value="BSD_ICONS"></add>
    <add key="BackEndPassword" value="ICONSOPER1"></add>
    <add key="KioskEnable" value="3"></add>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=119.46.96.186;Initial Catalog=VDM;Integrated Security=false;user id=VDM;password=wx5k,gIi" providerName="System.Data.SqlClient" />
    <add name="LogConnectionString" connectionString="Data Source=119.46.96.186;Initial Catalog=VDM_Log;Integrated Security=false;user id=VDM;password=wx5k,gIi" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <!--<customErrors mode ="RemoteOnly "></customErrors>-->
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
    </httpModules>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
    </modules>
  </system.webServer>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>