/VDM/VDM/bin/roslyn
/VDM/VDM/bin/VDM.dll.config
/VDM/VDM/bin/VDM.pdb
/VDM/VDM/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/VDM/VDM/obj/Debug
/VDM/VDM/obj
/VDM/VDM/Web.config
/VDM/VDM/Login.aspx.vb
/VDM/VDM/Login.aspx
/VDM/VDM/Login.aspx.designer.vb
/PeripheralController/PeripheralController/Test.aspx.vb
/PeripheralController/PeripheralController/CaseReciever.aspx.vb
/PeripheralController/PeripheralController/CaseReciever.aspx
/PeripheralController/PeripheralController/CaseReciever.aspx.designer.vb
/PeripheralController/Printer/bin/Debug/Printer.dll.config
/PeripheralController/Printer/bin/Debug/Printer.pdb
/PeripheralController/Printer/bin/Debug/Printer.vshost.exe
/PeripheralController/Printer/bin/Debug/Printer.vshost.exe.config
/PeripheralController/Printer/bin/Debug/Printer.vshost.exe.manifest
/PeripheralController/Printer/bin/Debug/Printer.xml
/PeripheralController/Printer/bin/Release
/PeripheralController/Printer/Form1.vb
/PeripheralController/Printer/Form1.Designer.vb
/PeripheralController/Printer/Form1.resx
/PeripheralController/Printer/GenericLib.vb
/PeripheralController/Printer/App.config
/PeripheralController/QuantumPassport/FormScan.resx
/PeripheralController/QuantumPassport/FormScan.cs
/PeripheralController/QuantumPassport/FormScan.Designer.cs
