/VDM/VDM/bin/roslyn
/VDM/VDM/bin/VDM.dll.config
/VDM/VDM/bin/VDM.pdb
/VDM/VDM/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/VDM/VDM/obj/Debug
/VDM/VDM/obj
/VDM/VDM/Web.config
/VDM/VDM/Login.aspx.vb
/VDM/VDM/Login.aspx
/VDM/VDM/Login.aspx.designer.vb
/PeripheralController/PeripheralController/Test.aspx.vb
