.modal {
    display:unset;
}

.modal-header {
    background-color : #ff0000;
}

.modal-header > .close, .modal-header > .close:hover , .modal-header > .close:focus
{
color:white;
opacity:unset;
}

.modal-title{
    color:white;
    font-weight:bold;
}