  .sim_container {
    position:relative; 
    height:auto; 
    border:1px solid transparent; 
    background-color:white;
    cursor:pointer;
}

.sim_box {
    padding:10px;
    text-align:center;
    position:relative;
}

.sim_slot {
        position:relative;
        text-align: center;    
        background-color:#fafafa;  
        width:100px;
}

.sim_item {
    position:absolute;
    width:100%;
    height:2px;
    background-color:red;
    font-size:0px;
}

.sim_quantity_pointer {
    position:absolute; 
    font-weight:bold;
    right: -82px;
    width: 80px;
    text-align:left;
}

@keyframes blinkYellowDotted {
    50% {
        border: 2px dashed #ffd800;
    }
}

@keyframes blinkGreenSolid {
    50% {
        border: 2px dashed green;
    }
}

@keyframes blinkRedSolid {
    50% {
        border: 2px dashed red;
    }
}

.sim_container.highlightYellow {
    animation: blinkYellowDotted .5s step-end infinite alternate;
}

.sim_container.highlightGreen {
    animation: blinkGreenSolid .5s step-end infinite alternate;
}

.sim_container.highlightRed {
    animation: blinkRedSolid .5s step-end infinite alternate;
}