<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ServerRoot" value="http://192.168.0.1/"/>
    <add key="KO_ID" value="1"/>
    <add key="Dispense1_Port" value=""/>
    <add key="Dispense2_Port" value=""/>
    <add key="Dispense5_Port" value=""/>
    <add key="Dispense10_Port" value=""/>
    <add key="Dispense20_Port" value=""/>
    <add key="Dispense50_Port" value=""/>
    <add key="Dispense100_Port" value=""/>
    <add key="Dispense500_Port" value=""/>
    <add key="Dispense1000_Port" value=""/>
    <add key="CashReciever_Port" value="COM11"/>
    <add key="CoinReciever_Port" value="COM6"/>
    <add key="Printer_Name" value="ftp639u dsl350"/>
    <add key="Product_Picker_IP" value="192.168.250.10"/>
    <add key="Product_Picker_Port" value="9600"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.1"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701">
        <providerOption name="CompilerVersion" value="v4.0"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+">
        <providerOption name="CompilerVersion" value="v4.0"/>
        <providerOption name="OptionInfer" value="true"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.aspx"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>